<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
    </head>
    <style>
.message {
background-color: #ededed;
height: 50px;
width: 100%;
border-style: solid;
border-radius: 5px;
border-width: 1px;
border-color: #ccc;
overflow: auto;
}
    </style>
    <body>
        <div>
            <img style="border-radius: 5px" src="{{ url_for('video_feed') }}" width='100%'>
            <div style="height:5px"></div>
            <div class="message"><code style="font-size: 130%">
                Fetchbot Message:
            </code></div>
        </div>
    </body>
    <script>
$.ajax({
    url: "http://localhost:5000/message_out",
    success: function(data){
    console.log(data)
    }
})        
    </script>
</html>

